{% extends "base.html" %}

{% block content %}
{%- if paginator is defined %}
{%- set entry_pages = paginator.pages %}
{%- else %}
{%- set entry_pages = section.pages %}
{%- endif %}
{%- include "partials/entry-list.html" %}
{%- if paginator is defined and paginator.number_pagers > 1 %}
<pager-nav>
  {%- if paginator.previous %}<a href="{{ paginator.previous | safe }}">&larr; Newer</a>{% endif %}
  <span>{{ paginator.current_index }} / {{ paginator.number_pagers }}</span>
  {%- if paginator.next %}<a href="{{ paginator.next | safe }}">Older &rarr;</a>{% endif %}
</pager-nav>
{%- endif %}
{% endblock content %}
